.page {
    padding: 4em 6em;
    max-width: 1280px;
    margin: auto;
}

.title{
    color: #640064;
}

.navpanel{
    margin: 1em 0em;
    .item {
        border: none;
        color: #640064;
        margin: 1em 0.5em;
        padding: 0.5em 0em;
        cursor: pointer;
    }

    .item.active{
        @extend .item;
        border-bottom: 1px solid #640064;
    }

}

.button {
    background: #640064;
    border: none;
    color: white;
    font-weight: 600;
    margin: 0em 0.5em;
    padding: 0.5em 1em;
}